/*
 Theme Name:   Buff N' Shine
 Description:  Ekko child theme for Buff N' Shine
 Author:       Timelab
 Template:     ekko
 Version:      1.0.0
 Text Domain:  buffnshine
*/

/*Checkbox */
.wpcf7-checkbox input[type=checkbox] {
  position: absolute;
  opacity: 0;
  z-index: 1;
  width: 25px;
  height: 25px;
  left: 0;
    top: 0;
  margin-top: 0;
}

.wpcf7-checkbox .wpcf7-list-item-label {
  padding-left: 20px; 
}

.wpcf7-checkbox .wpcf7-list-item-label:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.wpcf7-checkbox .wpcf7-list-item-label:after {
  left: 11px;
  top: 7px;
  width: 5px;
  height: 10px;
  border: solid #4c4c4c;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.wpcf7-checkbox .wpcf7-list-item input:checked ~ .wpcf7-list-item-label:after {
  display: block;
}

/* Team Members */
.team-member.design-classic .team-content p:last-child { margin-bottom: 0!important; }

#personnel .wpb_wrapper { min-height: 100%; }
#personnel .wpb_wrapper .team-member { min-height: calc(100% - 30px); }

/* lower footer text align */
.lower-footer .container { text-align: left; }

/* Map */
.wpb_wrapper .contact-map-container .business-info-wrapper {
  top: 25px;
}

.lower-footer i {
  color: inherit;
  margin-right: 0;
  float: left;
  margin-left: 30px;
  font-size: 18px;
  transition: 0.2s;
}

/* Sidebar colors */
.kd-panel-phone-email .kd-panel-phone:after, 
.kd-panel-phone-email .kd-panel-email:after,
.kd-panel-wrapper .kd-panel-social-list .redux-social-media-list a::after { background-color: #F99608; }

.kd-panel-phone-email .kd-panel-phone:hover:after, 
.kd-panel-phone-email .kd-panel-email:hover:after,
.kd-panel-wrapper .kd-panel-social-list .redux-social-media-list a:hover::after { 
  background-color: #F99608;
  opacity: 1;
}

@media(max-width: 959px){
  #main-menu .navbar-nav .menu-item-has-children .mobile-dropdown {
    width: 100%;
    text-align: right;
    cursor: pointer;
  }
}


/* phone styling footer */
@media(max-width: 959px){
  .page-template-default .entry-header {
    padding-bottom: 41px!important;
    padding-top: 41px!important;
  }
  
  .lower-footer .flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .lower-footer .container {
    text-align: center;
  }

  .lower-footer .redux-social-media-list {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .lower-footer .redux-social-media-list li{
    width: 40px;
  }
  
  .lower-footer .redux-social-media-list li svg{
    margin-left: 0;
  }
}

.grecaptcha-badge {
  z-index: 2999999999;
}

.back-to-top {
  bottom: 90px;
}

.back-to-top.active {
  right: 21px;
}

.container #logo .logo {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.text-light, .text-light p {
	color: #FFF;
}

.container .no-margin-bottom-title > .separator_off {
	margin-bottom: 0;
}

.z-index-1 {
	z-index: 1;
}

.container .text-transform-none, 
.container .text-transform-none > *,
.container .text-transform-none > .separator_off {
	text-transform: none!important;
}


.row.vc_row-o-equal-height .vc_column-inner {
	height: 100%;
}


.row.vc_row-o-equal-height .vc_column-inner,
.row.vc_row-o-equal-height .vc_column-inner .wpb_wrapper {
	height: 100%;
}


.row > .vc_row.vc_row-o-equal-height > .wpb_column > .vc_column-inner,
.row > .vc_row.vc_row-o-equal-height > .wpb_column > .vc_column-inner > .wpb_wrapper {
	height: 100%;
}

.row > .vc_row.vc_row-o-equal-height > .wpb_column > .vc_column-inner > .wpb_wrapper {
	display: flex;
    flex-direction: column;
}

.vc_row.vc_row-o-equal-height .vc_column-inner .wpb_wrapper .row-fill-height {
	flex: 1;
}

.entry-header.with-topbar {
    padding-top: 142px;
    padding-bottom: 164px;
}

@media(min-width: 960px) {
  #wrapper .entry-header.with-topbar {
    margin-top: 210px;
  }
}

@media(min-width: 1270px) {
  #wrapper .entry-header.with-topbar {
    margin-top: 143px;
  }
}

@media(max-width: 960px) {
  #wrapper .entry-header.with-topbar {
    margin-bottom: 25px;
  }

  header.kd-section-title h3 {
      font-size: 24px!important;
      line-height: 1.3!important;
      margin-bottom: 15px !important;
  }

  .vc_row header.kd-section-title {
      margin-bottom: 25px!important;
  }
}

.wpb_wrapper .wpb_text_column ul:last-child {
	margin-bottom: 20px;
}

footer.underline-effect .textwidget a.footer-logo-a:after {
	display:none!important;
}

footer.underline-effect .textwidget a.footer-logo-a {
	padding-left: 32px;
}

header.entry-header.single-page-header.with-topbar:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.35);
    z-index: 1;
}

header.entry-header.single-page-header.with-topbar .container {
	z-index: 2;
}


@media(max-width: 959px) {
	body .navbar.navbar-default .menubar > .container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
	
	body .navbar.navbar-default .menubar > .container .navbar-header {
	    flex: auto;
	}
	
	body .navbar.navbar-default .menubar.main-nav-right .navbar-collapse { 
		margin-left: 0;
		width: 100%;
	}
	
	body .navbar.navbar-default .menubar > .container:before,
	body .navbar.navbar-default .menubar > .container:after {
		display:none;
	}
	
	.footer-bar, .footer-widget-area > div {
    	padding-left: 0;
  	}
	
	body .upper-footer {
		padding: 31px 0 20px 0;
	}
	
	body .footer-widget-area {
		padding-top: 0;
	}
	
	.single-page-content > .vc_row > .wpb_column.vc_col-sm-9 > .vc_column-inner > .wpb_wrapper > .vc_row {
		padding-left: 0!important;
		padding-right: 0!important;
	}
	
	.page-template-default #primary {
		padding-bottom: 25px;
	}
	
	.menubar #main-menu .navbar-nav .mega-menu.menu-item-has-children .dropdown > a {
		display: none!important;
	}
	
	.single-page-content > .vc_row > .wpb_column > .vc_column-inner > .wpb_wrapper > .vc_row + .vc_row > .wpb_column > .vc_column-inner {
		padding-top: 0!important;
		margin-top: -25px;
	}
}

@media(min-width: 960px) {
	#main-menu.underline-effect .navbar-nav .mega-menu .dropdown-menu .menu-item a {
		font-weight: 100;
    	text-transform: capitalize;
	}
	
	.menubar #main-menu .navbar-nav .mega-menu.menu-item-has-children .dropdown > a {
		font-weight: bold;
    	text-transform: uppercase;
	}
	
	body .menubar #main-menu .navbar-nav .mega-menu.menu-item-has-children .dropdown > a:hover,
	body .navbar-default .menubar #main-menu .navbar-nav .mega-menu.menu-item-has-children .dropdown:hover > a {
		color: #FFF!important;
	}
	
	.container #logo .logo {
		align-items: center;
		justify-content: center;
	}
	
	.container #logo .logo .secondary-logo {
		margin-left: 15px;
	}
}

@media (max-width: 767px) {
	body .contact-map-container .business-info-wrapper {
		padding: 35px;
	}
	
	footer.underline-effect .textwidget a.footer-logo-a {
		padding-left: 0;
	}
	
	footer.underline-effect .forth-widget-area .textwidget { margin-bottom: 0; }
	
	footer.underline-effect .forth-widget-area .textwidget img {
		margin-top: 20px;
		margin-bottom: 10px; 
	}
}

@media (max-width: 500px) {
	.entry-header .section-heading {
		font-size: 28px;
		-ms-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
		overflow-wrap: break-word;
		word-wrap: break-word;
		-webkit-hyphens: auto;
	}
}

@media (min-width: 992px) and (max-width: 1269px) {
	.container {
		width: auto;
	}
}

.small-text {
	font-size:12px;
	margin-bottom:15px;
}

.grecaptcha-badge { visibility: hidden; }

.kd-panel-contact .wpcf7-checkbox .wpcf7-list-item-label:before {
  background-color: #fff;
}

.kd-panel-contact .wpcf7 .wpcf7-checkbox span.wpcf7-list-item > label { display: flex; }